/**
	* Author: shanjing
	* Time: 2015-11-19
	* color.css 为全局样式表，所包含的样式都为全局样式
	* color.css 原则上创建后不再进行修改，若修改应该是只能添加而不能删除
	* color.css 为网站所有页面都必须引用的css
**/
/** 通用设置 **/
body{ color:#333; background-color:#fafafa}
a,.corange{ color:#ff9008;}
.passportTit,.sucTop{ color:#666}
.passportBox{ background-color:#fff; border-color:#ccc}
.sucMid{ color:#4d4d4d}
.sucBom span{ color:#999}
/** nav **/
.nav { background-color: #ff9008; color: #ffe7ca; border-color: #e98305;}
.navLogo{ background-image: url("http://1251074040.cdn.myqcloud.com/1251074040/static/web/adx/img/logo.png");}
.navList a{ color: #ffe7ca; }
.navList .cur a{ color: #fff; border-color: #fff;}
.navright a{ color: #ffe7ca;}
/** footer **/
.footer{ color:#225f71;}
/** login **/
.loginBox input{ color:#999}
.codeImgBox{ border-color:#ccc}
.autoLoginText{ color:#808080}
/** reset **/
.sendCodeBtn{ border-color:#ccc; background-color:#f7f7f7; color:#666}
.sendTimeText{border-color:#c6c6c6; background-color:#e6e6e6; color:#666}
/** login success **/
.platformList a{ color:#333}
/*-- input --*/
input[type="text"], input[type="password"], textarea, .selectBox_show {  background-color: #fff; color: #666;border-color: #ccc;}
input[type="text"]:focus, input[type="password"]:focus { border-color: #ff9008;  box-shadow: 0 0 3px #ff9008;  }

/* 表单报错提示 */
.tipBox span {color: #ff8c00;}
.errorBox span { color: #f00;}
.required{ color: #f00;}

/* btn */
/* 蓝色按钮 */
.btn_a,.btn_a:hover{ color:#fff; }
/* 黄色按钮按钮 */
.btn_b{background-color: #ff9008;color:#fff;border-color:#e78105;}
.btn_b:hover{ color:#fff;background-color: #ed8607;border-color:#e78105; }
.btn_b:active{ color:#fff;background-color: #ed8607;border-color:#b96c0f; }
/*灰色取消按钮*/
.btn_c{color:#444;border-color:#dcdcdc;background-color:#f2f2f2;}
.btn_c:active{background-color: #f1f1f1;border-color:#c6c6c6;}
/*深灰色按钮*/
.btn_d{color:#444;border-color:#bbb;background-color:#e5e5e5;}
.btn_d:hover{background-color: #ccc;border-color:#bbb;}
/* 深深灰按钮 - 向上*/
.btn_e{background: #eee; border-color: #ddd;  }
.btn_e:hover{background: #ddd;border-color: #ccc;}
/*深灰色按钮*/
.btn_f{color:#eee;border-color:#555;background-color:#666; }
.btn_f:hover{background-color: #444;border-color:#333; }
