/*     * Author: shanjing
       * Time: 2015-11-19
       * common.css 为全局样式表，所包含的样式都为全局样式
       * common.css 包含a标签、通用width、header、footer
       * common.css 为网站所有页面都必须引用的css */
/** 通用设置 **/
a{text-decoration: none;}
.tipBox, .errorBox{ *display:inline; *zoom:1; margin-left:10px}
.lh20{ line-height:20px; height:20px}
.lh24{ height:24px; line-height:24px}
.navLogo{ margin-right:4px}
.passportTit{height:28px; font:bold 18px/28px 'Microsoft Yahei'; padding:15px 0}
.passportBox{border-width:1px; border-style:solid; border-radius:2px; height:398px;}
.passportBox input[type="text"],.passportBox input[type="password"]{ font-size:12px; width:200px; vertical-align:top;}
.passportBox .btn_b{ padding:0; width:220px; text-align:center; font-size:14px; line-height:32px;}
.passportSucBox{ font-family:'simsun'; padding-top:108px}
.midBox{ margin:0 auto; width:744px}
.sucTop{ font-size:24px; line-height:26px;}
.sucMid{ padding:35px 0 12px 0; font-weight:bold}
.passportList{padding:64px 0 0 160px}
.passportList label,.resetList label{ width:100px; text-align:right; height:32px; line-height:32px; vertical-align:top }
/* 脚部 */
.footer{ text-align:center; font-family:'simsun'; padding-bottom:16px}
.footer span{ font-family:'Arial'}
/* 登录 */
.loginBox{ margin:50px auto 0 auto; width:222px; padding:0 40px;  font-family:'simsun'}
.loginBox h3{ padding:34px 0 0 0; }
.loginBox input[type="text"],.loginBox input[type="password"]{ padding-left:36px; width:174px; font-family:'simsun'}
.loginBox .code input{ width:69px}
.loginBox .errorBox{ height:20px; line-height:20px; margin:0}
.loginBox .errorBox span{ padding:0}
.loginBox .errorBox .icon_error{ top:2px}
.loginList{ padding-top:16px}
.loginList li{ padding-bottom:20px; overflow:hidden}
.loginList .code{ padding-bottom:6px}
.code .icon_refresh{ margin-top:8px}
.code .inputBox input{ float:left}
.inputBox{ position:relative}
.inputBox .icon{ position:absolute; left:10px; top:9px}
.codeImgBox{ border-width:1px; border-style:solid; border-radius:2px; width:70px; height:30px; display:inline}
.loginBox .btn_b{ margin:16px 0}
.autoLoginText{ padding-left:8px; display:inline-block; height:20px; line-height:20px}
/* 修改 */
.emailText{line-height:32px; vertical-align:top; display:inline-block}
/* 重置 */
.resetBox{ height:333px}
.resetList{ padding:60px 0 0 160px}
.resetList .code{ overflow:hidden}
.resetList .code input{ width:95px}
.resetList .code label{ height:32px; line-height:32px;}
.resetList .emailCode input{ width:110px}
.sendCodeBtn,.sendTimeText{ border-width:1px; border-style:solid; width:78px; height:30px; line-height:30px; text-align:center; border-radius:2px}
/* 登录成功2015.11.24增加 */
.loginSucBox{ padding-top:68px}
.sucMid a{ font-weight:normal}
.platformList{ padding-left:56px}
.platformList li{ float:left; padding: 0 34px; width:58px}
.platformList a{ display:block; margin:0 auto; width:58px; height:100px; font-family:Arial}
.platformList span{ display:block; cursor:pointer}
.developer:hover .icon{ background-position:-280px -320px}
.advertisers:hover .icon{ background-position:-280px 0}
.polymerization:hover .icon{ background-position:-280px -80px}
.adxdsp:hover .icon{ background-position:-280px -160px}
.adxpmp:hover .icon{ background-position:-280px -240px}