/*
	* Author: weishuheng
	* Time: 2015-10-21
	* plug.css 为插件类样式表，页面只有在使用插件的时候才需要引入
*/

/* 选择日期插件 */
.timeArea{height:auto;border-width:1px;border-style:solid;z-index: 100;position: absolute;border-radius: 2px;}
.timeCon{border-bottom-width: 1px;border-bottom-style:solid;}
.timeCon li{height:30px;line-height: 30px;vertical-align: middle;text-indent: 10px;}
.timeCon li:hover{ cursor: pointer; }
.timePlug{padding: 10px 10px 20px 10px;}
.timePlug .plugTit{padding-bottom: 8px;}
.timePlug input{width: 90px;}
.timeAreaTip{ left:90px; top:-34px; background-color: #fff; border-width: 1px; border-style: solid; border-color: #ff9008; padding:3px 8px; border-radius:5px; line-height: 20px; }
.timeAreaTip .icon_arrowDownWhite{ left:50%; top:26px; }
.timeAreaTip p{ color:#ff9008; }
/** 图表 **/
.chart { border-style:solid; border-width:1px; font-size:0;}
.chart_cell { display:inline-block; padding: 12px 0; position: relative; font-size:12px; cursor: pointer; *float:left;}
.chart_cell .cell { border-right-width:1px; border-right-style: solid; padding-left:10px;}
.chart_cell .cell.last { border:none;}
.chart_cell .cell .num { font-family: arial; font-size: 16px; display: inline-block; margin-top:5px; text-overflow: ellipsis; width:100%; white-space: nowrap; overflow: hidden;;}
.chart_cell .cell_line { border-bottom-width:2px; border-bottom-style:solid; position:absolute; bottom:-1px; width:100%; opacity: 0; }
.chart_cell.active .cell_line, .chart_cell:hover .cell_line {opacity:1;}
.chart_cell .cell_lineArrow { display: block; margin-right: auto; margin-left: auto; position: relative; width: 10px;}
.chart_cell .arrow_k { border-top: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-bottom: 5px solid white; bottom: -2px;  height: 0; margin: 0; padding: 0; position: absolute; width: 0;}
.chart_cell .arrow_b { bottom: 0; position: absolute;}
.echart { height:300px; }

/*-- 模拟下拉框 --*/
.selectBox {  display: inline-block; *display:inline; *zoom:1;  vertical-align: top;  position: relative;  height: 32px; text-align:left;  }
.selectBox.focus {  z-index: 500;}
.selectBox_show {  cursor: pointer;  padding: 5px 20px 5px 10px;  position: relative; }
.selectBox_show p {width: 100%; overflow: hidden; text-overflow: ellipsis;white-space: nowrap; }
.selectBox_show i {  position: absolute;  right: 10px;  top: 12px;  }
.selectBox_list {  position: absolute;  left: 0;  top: 32px;  z-index: 120;  overflow-y: auto;  overflow-x: hidden;  border-width: 1px;border-style: solid; border-radius:3px; }
.selectBox_listLi {  font-size: 14px;  height: 30px;  line-height: 30px; cursor: pointer;  text-indent: 10px;  white-space: nowrap;  word-break: keep-all;  overflow: hidden; text-overflow: ellipsis;white-space: nowrap; }
.selectBox.dis .selectBox_show {  cursor: default;}
.selectBox.dis .selectBox_show p {white-space: nowrap;  word-break: keep-all;  }

/*-- 小型模拟下拉框 --*/
.selectBox.selectSmall{ height: 24px; }
.selectSmall .selectBox_show{ font-size:12px; padding:2px 15px 2px 5px; }
.selectSmall .selectBox_show i{  right:5px;  top:11px; }
.selectSmall .selectBox_list{ top:26px; }
.selectSmall .selectBox_listLi{ font-size:12px; }

/*-- 维度下拉框 --*/
.filterSelect .selectBox_show{ border-top-left-radius: 2px; border-bottom-left-radius: 2px;  border-top-right-radius:0px; border-bottom-right-radius:0px; }
.filterSelect .selectBox_list{ box-shadow:none; border-radius:0; top:25px; }
.filterAdd .selectBox_show{ border:none; }
.filterAdd .selectBox_list{ width:150px; box-shadow:none; border-radius:0; }
.filterAdd .selectBox_listLi.dis:hover{ cursor: default; }

/* page */
.page{  margin: 20px 0px; vertical-align: middle; }
.prevPage,.nextPage{display: inline-block; text-decoration: none;width: 36px; padding:8px 0; height:14px; text-align: center; border-width: 1px;  border-style: solid; }
.prevPage{ border-top-left-radius:3px; border-bottom-left-radius:3px; }
.nextPage{ border-top-right-radius:3px; border-bottom-right-radius:3px; border-left:none; }
.pageTit{height:32px;line-height: 32px;}
/* searcher  */
.searchBox { border-width:1px; border-style:solid; padding: 0 10px 10px 10px; }
.searchBox label{ line-height:30px; }
.searchName{ line-height: 32px; }
.searchTime input{ width:240px; cursor: pointer; }
.searchTime .icon_arrowDown{ position:absolute; right:10px; top:14px; }

/* 维度  */
.filterTitle{ width:50px; left:0px; top:8px; position: absolute; }
.filterCont{ border-style: solid; border-width: 1px; margin-left:50px; min-height: 24px; padding:5px 0 0 5px; }
.filter{ float:left; margin:0 5px 5px 0; height: 26px; }
.filterClosed{ border-style: solid; border-width: 1px; border-left: none; height: 24px; line-height: 22px; width: 18px; text-align: center; color: #666; border-top-right-radius:2px; border-bottom-right-radius:2px; }
.filterBox .btn_d{ line-height: 24px; }